// Esquema de Colores

// Este es el primer esquema de Colores Grises
$white: #fff;
$platinum: #808080;
$lightgray: #d1d1d1;

// Este es el segundo esquema de Colores
$teal: #008080;
$cancun: #18ffff;
$pumpkin: #FF9100;
$niquel: #CFD8DC;
$lightgreen: #D4E157;



// Este es el tercer esquema de Colores Negros
$eerie-black: #121619;
$raisinblack: #222323;

// Tipografias

$playfair: 'Playfair Display',
italic;
$inconsolata: 'Inconsolata',
sans-serif;

// Font Weight
$light: 400;
$black: 700;
$bolder: 900;


//  font Sizes
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;

//