.seccion-newsletter {
    background-color: #f2f4f5;
    text-align: center;
    display: block;
    text-align: center;
    margin-top: 2rem;
    padding-top: 3rem;
    padding-bottom: 5px;
    font-weight: $black;
}